.img-1 {
    background-image: url('img-1.jpg');
    background-size: cover;
    background-position: center;
}

/* .img-2 {
    background-image: url('img-2.jpg');
    background-size: cover;
    background-position: center;
} */

/* .color_div {
    background-color: #EAEDED;
} */